.episodes {
  max-width: rem(1020);
  width: 100%;
  margin: 0 auto;
  margin-bottom: rem(48);
}
.episodes-logo {
  width: rem(270);
  height: rem(210);
  margin: 0 auto;
  margin-bottom: rem(16);
}

.features--episodes {
  justify-content: center;
}
.features__filter--episodes {
  width: rem(500);
}