<header class="header">
  <nav class="menu">
    <div class="menu__img-wrap">
      <img src="images/logo-black.jpg" alt="" class="menu__img" />
    </div>
    <div class="menu__links">
      <div class="menu__item">
        <a href="index.html" class="menu__link">
          <h3 class="menu__item-name">Characters</h3>
        </a>
      </div>
      <div class="menu__item">
        <a href="locations.html" class="menu__link">
          <h3 class="menu__item-name">Locations</h3>
        </a>
      </div>
      <div class="menu__item">
        <a href="episodes.html" class="menu__link">
          <h3 class="menu__item-name">Episodes</h3>
        </a>
      </div>
    </div>
  </nav>
</header>
